
# gitignore Documentation - http://git-scm.com/docs/gitignore

# Log
logs/

# TestNG
test-output/

# Gradle
.gradle/

# Maven
target/

# IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.settings/
.classpath
.project
